<h1>
  Student #<%= @the_student.id %> details
</h1>

<div>
  <a href="/students">
    Go back
  </a>
</div>

<div>
  <a href="/delete_student/<%= @the_student.id %>">
    Delete student
  </a>
</div>

<hr>

<form action="/modify_student/<%= @the_student.id %>" method="post">
  <div>
    <label for="email_box">
      Email
    </label>

    <input type="text" id="email_box" name="query_email" value="<%= @the_student.email %>">
  </div>

  <div>
    <label for="first_name_box">
      First name
    </label>

    <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_student.first_name %>">
  </div>

  <div>
    <label for="last_name_box">
      Last name
    </label>

    <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_student.last_name %>">
  </div>

  <button>
    Update student
  </button>
</form>

<hr>

<dl>
  <dt>
    First name
  </dt>
  <dd>
    <%= @the_student.first_name %>
  </dd>

  <dt>
    Last name
  </dt>
  <dd>
    <%= @the_student.last_name %>
  </dd>

  <dt>
    Email
  </dt>
  <dd>
    <%= @the_student.email %>
  </dd>
</dl>

<hr>

<h3>Course Load</h3>

<form action="/insert_enrollment" method="post">

  <input type="hidden" id="student_id_box" name="query_student_id" value="<%= @the_student.id %>">

  <div>
    <label for="course_id_box">
      Course
    </label>

    <select id="course_id_box" name="query_course_id">
      <% Course.order({ :title => :asc }).each do |a_course| %>
        <option value="<%= a_course.id %>">
          <%= a_course.title %>
        </option>
      <% end %>
    </select>
  </div>

  <button>
    Enroll student
  </button>
</form>

<hr>

<ul>
  <% enrollments = Enrollment.where({:student_id => @the_student.id }) %>
  <% enrollments.each do |enrollment| %>
    <% course = Course.where({ :id => enrollment.course_id }).at(0) %>
    <li>
      <a href="/courses/<%= course.id %>">
        <%= course.title %>
      </a>
    </li>
  <% end %>
</ul>
